html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Poppins, sans-serif;
}

.h1-size{
    font-size: 40px;
}

/* -----HEADER----- */

#logo{
    width: 100px;
    margin: 8px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#007dfe;
}

.ul{
    display: flex;
    padding: 10px;
}

.li{
    margin-right: 20px;
    list-style: none;
    padding: 10px 5px;
    color: white;
    width: max-content;
}

.li a{
    text-decoration: none;
    color: white;
}


.li:hover{
    background-color: #0260c0;
    border-radius: 12px;
    transition: 1s;
}

/* -----ABOUT US-----*/

#quienes-somos{
    display: flex;
    align-items: center;
    justify-content: center;
}

.h1-quienes-somos{
    margin-bottom: 10px;
}

.text-quienes-somos{
    padding-left: 100px;
    width: 70%;
}

.img-quienes-somos{ 
    width: 100%;
    max-width: 50%;
    height: auto;
}

/*-----SERVICES-----*/

#servicios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}

.p-servicios{
    text-align: center;
    margin: 40px 0;
    width: 50%;
}


/*-----CARD SERVICES-----*/

.container{
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.card{
    width: 330px;
    height: 460px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);

}

.img-card{
    width: 330px;
    height: 220px;
}

.h4-card{
    font-weight: 600;
    margin: 10px 0;
}

.p-card{
    margin: 10px 0;
    padding: 0 1rem;
    font-size: 13.5px;
    font-weight: 300;

}

.a-card{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

/*-----CONTACT US-----*/

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 190px 0 0 0;
}

.p-contact{
    margin: 40px 0;
    width: 50%;
    text-align: center;
}

.img-contact-section{
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-contact{
    padding: 20px 40px;
    width: 120px;
}

/*-----FOOTER-----*/

.footer{
    padding: 30px 0 30px 0;
    width: 100%;
    height: 40%;
    background-color: #f2f2f2;
}

.providers{
    margin-bottom: 50px;
    width: 100%;
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.prov-img{
    width: 12vh;
    margin-left: 2rem;
}

.p-footer{
    text-align: center;
}

.develop{
    text-align: center;
}

.develop a{
    text-decoration: none;
    color: #007dfe;
}